/* 1. doi mau 2 the thanh mau do */

.world {
    color:red
}

.earth {
    color: red;
}

/* 2.doi mau chu the <P> dau tien thanh mau xanh la */

.world {
    color: green;
}

/* 3 */
.blue {
    color:blue
}


